@font-face {
    font-family: 'Young Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-weight: 400 700;
}

:root {
    --font-main: 'Young Serif', sans-serif;
    --font-content: 'Outfit', sans-serif;

    --color-white: hsl(0, 0%, 100%);
    
    --color-stone-100: hsl(30, 54%, 90%);
    --color-stone-150: hsl(30, 18%, 87%);
    --color-stone-600: hsl(30, 10%, 34%);
    --color-stone-900: hsl(24, 5%, 18%);

    --color-brown-800: hsl(14, 45%, 36%);
    --color-rose-800: hsl(332, 51%, 32%);
    --color-rose-50: hsl(330, 100%, 98%)
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: var(--color-stone-100);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe {
    background: var(--color-white);
    width: 900px;
}

.recipe__title {
    color: var(--color-stone-900);
}

.recipe__description {
    color: var(--color-stone-600);
}

.recipe__prep {
    background: var(--color-rose-50);
}

.recipe__prep-title {
    color: var(--color-rose-800);
}

.recipe__prep-label {
    color: var(--color-stone-900);
}

.recipe__prep-item {
    color: var(--color-stone-600);
}

.recipe__section-title {
    color: var(--color-brown-800);
}

.recipe__section-item {
    color: var(--color-stone-600);
}

.recipe__step-title {
    color: var(--color-stone-900);
}

.recipe__step-text {
    color: var(--color-stone-600);
}

.recipe__nutrition-text {
    color: var(--color-stone-600);
}

.recipe__label {
    color: var(--color-stone-600);
}

.recipe__value {
    color: var(--color-brown-800);
}


